header {
    background-color: rgb(222, 229, 247);
}

#timerActual {
    text-align: right;
}

.side {
    padding-top: 20%; padding-bottom: 20%;
}

.card {
    margin-top: 10%;
    margin-bottom: 5%;
    
}
.card-header {
    text-align: center;
    background-color:  rgb(222, 229, 247);

}
#topQuestion {
    font-weight: bold;
    font-size: x-large;
}
button {
    border-radius: 2px 8px 8px 2px;
    background-color: rgb(222, 229, 247);
}
#start {
    border-radius: 4px;
    background-color: rgb(2, 150, 2);
    font-family: 'Oswald', sans-serif;
    font-weight: bold;

}
#say-correct{
    display: none;
}
#say-incorrect {
    display: none;
}
